.skin0 { color: #fde0cd; }
.skin1 { color: #f7d8bf; }
.skin2 { color: #f5d2b9; }
.skin3 { color: #ebc5ae; }
.skin4 { color: #efc1aa; }
.skin5 { color: #ecbca8; }
.skin6 { color: #e5b99f; }
.skin7 { color: #d5a286; }
.skin8 { color: #d59f7d; }
.skin9 { color: #aa7b62; }
.skin10 { color: #825946; }
.skin11 { color: #7a513a; }
.skin12 { color: #674635; }

.white { color: #ffffff; }
.brown { color: #752907; }
.red { color: #A72422; }
.light-pink { color: #DC8873; }
.camel { color: #E4AA60; }
.light-brown { color: #A57E75; }
.yellow { color: #FECE34; }
.olive-green { color: #97AD28; }
.emerald-blue { color: #559685; }
.gray { color: #949699; }
.light-blue { color: #9BC3DB; }
.blue { color: #577BA9; }
.purple { color: #572F8F; }
.black { color: #504949; }
.silver { color: #D4CDD0; }
.dark-brown { color: #784a3a; }
.red-brown { color: #400307; }
.ginger { color: #ff6a00; }
.gold { color: #ead27b; }
.ashyblond { color: #b19981; }
.pink { color: #dd5e88; }
.light-green { color: #7fbb1e; }
.dark-blue { color: #272250; }